@import url("https://fonts.googleapis.com/css2?family=Quattrocento&family=Quattrocento+Sans&display=swap");

/* define general variables */
:root {
  --header-ff: "Quattrocento", serif;
  --normal-ff: "Quattrocento Sans", sans-serif;
  /* background color */
  --dark-bg-color: #1f2937;
  /* hero main text */
  --hero-main-fs: 48px;
  --hero-main-fw: 800;
  --hero-main-color: #f9faf8;
  /* hero secondary text, header link text */
  --hero-secondary-fs: 18px;
  --hero-secondary-color: #e5e7eb;
  /* hero logo text */
  --hero-logo-fs: 24px;
  --hero-logo-color: #f9faf8;
  /* button */
  --btn-color: #3882f6;
  /* info header text */
  --info-header-fs: 36px;
  --info-header-fw: 800;
  --info-header-color: #1f2937;
  /* quote */
  --quote-bg-color: #e5e7eb;

  --quote-fs: 36px;
  --quote-fw: 300;
  --quote-fstyle: italic;
  --quote-color: #1f2937;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--normal-ff);
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: var(--header-ff);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* header styling */
header {
  padding: 16px 100px;
  background-color: var(--dark-bg-color);
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* navbar */
.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: var(--hero-logo-fs);
  color: var(--hero-logo-color);
}

header ul {
  display: flex;
  list-style: none;
  gap: 16px;
}

.links {
  text-decoration: none;
  font-size: var(--hero-secondary-fs);
  color: var(--hero-secondary-color);
}
/* header main */
.header-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  gap: 50px;
}

.header-text {
  flex: 1;
}

h1 {
  color: var(--hero-main-color);
  font-size: var(--hero-main-fs);
  font-weight: var(--hero-main-fw);
}

.header-content p {
  font-size: var(--hero-secondary-fs);
  color: var(--hero-secondary-color);
  text-align: left;
  margin: 32px 0;
}

.signup-btn {
  background-color: var(--btn-color);
  color: var(--hero-secondary-color);
  padding: 5px 16px;
  border-radius: 5px;
  font-size: var(--hero-secondary-fs);
}

.img {
  flex: 1 1 0;
  object-fit: contain;
  width: 200px;

  height: 300px;
  background-color: var(--quote-bg-color);
  text-align: center;
}

/* information section */

.infor-section h2 {
  text-align: center;
  font-size: var(--info-header-fs);
  font-weight: var(--info-header-fw);
  color: var(--info-header-color);
  margin: 32px 0;
}
.information {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 48px 0;
}

.info {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.info-img {
  width: 150px;
  height: 150px;
  border: 5px solid #3882f6;
  border-radius: 25%;
}

/* quote section */
.quote-container {
  padding: 100px 200px;
  background-color: var(--quote-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}
.quote {
  font-size: var(--quote-fs);
  font-weight: var(--quote-fw);
  font-style: var(--quote-fstyle);
  color: var(--quote-color);
}

.author {
  align-self: flex-end;
  font-size: var(--quote-fs);
  font-weight: 800;
}
/* sign up banner */
.signup-container {
  background-color: #3882f6;
  margin: 50px;
  padding: 50px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  gap: 100px;
}

.signup-text {
  font-size: var(--hero-secondary-fs);
  color: var(--hero-secondary-color);
}
/* footer */
.footer {
  width: 100%;
  background-color: #1f2937;
  font-size: var(--hero-secondary-fs);
  color: var(--hero-secondary-color);
  padding: 32px 0;
  text-align: center;
}
